@import "tailwindcss";

/* Optional light/dark tokens */
:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --border: 220 13% 91%;
}
.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
}

html,
body {
  height: 100%;
}

.font-lpmqFont {
  font-family: var(--font-lpmqFont);
}
