.toastViewport {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  display: flex;
  height: fit-content;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1000;
}

.toastRoot {
  border-radius: 0.5rem;
  box-shadow: 0 10px 30px rgba(15, 23, 42, 0.2);
  height: fit-content;
  border: 1px solid transparent;
}
.toastRoot[data-state="open"] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.toastRoot[data-state="closed"] {
  animation: hide 100ms ease-in;
}
.toastRoot[data-swipe="move"] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.toastRoot[data-swipe="cancel"] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.toastRoot[data-swipe="end"] {
  animation: swipeOut 100ms ease-out;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

.toastTitle {
  grid-area: title;
  font-weight: 500;
  font-size: 18px;
  color: inherit;
}

.toastDescription {
  grid-area: description;
  margin: 0;
  font-size: 16px;
  color: inherit;
}

.toastTime {
  grid-area: time;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  font-size: 10px;
}

.toastAction {
  grid-area: action;
}

.toastSeparator {
  width: 100%;
  background-color: currentColor;
  opacity: 0.2;
}

.toastSuccess {
  background-color: #ecfdf5;
  border-color: #10b981;
  color: #065f46;
}

.toastError {
  background-color: #fee2e2;
  border-color: #ef4444;
  color: #7f1d1d;
}

.toastWarning {
  background-color: #fef9c3;
  border-color: #facc15;
  color: #713f12;
}

.toastInfo {
  background-color: #dbeafe;
  border-color: #3b82f6;
  color: #1e3a8a;
}
